/* Hide scrollbars for horizontal scroll containers */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: auto;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}